html {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

body {
  margin: 0;
}

.lax {
  background-color: #402d46;
  border: #402d46 solid 1px;
  color: white;
  height: 60px;
  width: 250px;
  font-size: 13px;
  position:  absolute;
  z-index: -10;
}
