html {
  background-color: gray;
}

body {
  margin: 0;
}

.lax {
  background-color: #402d46;
  border: #402d46 solid 1px;
  color: white;
  height: 60px;
  width: 250px;
  font-size: 13px;
  position:  absolute;
  z-index: -10;
}
